# node
node_modules
build
dist

# wrangler
.wrangler
.dev.vars

# @react-router
.react-router

# @turbo
.turbo

# knip
.knip

# sqlite
*.sqlite

# Mac
.DS_Store

# vscode
.vscode/settings.json

# mise
mise.local.toml

# dotenv
.env
.env.secret
