# node
node_modules
build
dist
dev-dist

# wrangler
.wrangler
.dev.vars

# @react-router
.react-router

# @turbo
.turbo

# sqlite
*.sqlite

# Mac
.DS_Store

# vscode
.vscode/settings.json

# mise
mise.local.toml
.mise.local.toml

# vitest
.vitest-attachments

# dotenv
.env
.env.secret

# playwright
playwright-report
test-results
