name: staging-deploy
on:
  pull_request:
    types: [labeled]

jobs:
  staging-deploy:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    name: staging-deploy
    if: contains(github.event.pull_request.labels.*.name, 'staging')
    env:
      VITE_BASE_URL: https://roppoh.stg.tsar-bmb.org
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup-bun-turbo
      - run: bun turbo build
      - name: deploy
        id: deploy
        uses: cloudflare/wrangler-action@v3
        with:
          command: deploy --config ./build/server/wrangler.json
          apiToken: ${{ secrets.CF_API_TOKEN }}
          accountId: ${{ vars.CF_ACCOUNT_ID }}
          environment: staging
          packageManager: bun
          workingDirectory: ./apps/roppoh
      - id: comment
        uses: thollander/actions-comment-pull-request@v3
        with:
          message: "Deployment is complete. You can preview the changes at ${{ env.DEPLOYMENT_URL }}"
          comment-tag: staging-url
          mode: upsert
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          DEPLOYMENT_URL: "https://roppoh.stg.tsar-bmb.org/"
      - name: remove staging label
        if: always()
        run: |
          curl -X DELETE -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" \
          -H "Accept: application/vnd.github.v3+json" \
          https://api.github.com/repos/${{ github.repository }}/issues/${{ github.event.pull_request.number }}/labels/staging
